<% include partials/head %>

<script>

</script>
<body>
<% include partials/header %>

<div class="container-fluid mt">

    <button id="download" type="button" class="btn btn-default">Download</button>
</div>

<% include partials/footer %>
<script>

</script>
